* {
  box-sizing: border-box;
}


/* Start here */




.dotimage
{
  max-width: 15px;
  z-index: 2;
}

.reddot
{ display: flex;
  align-items: center;
  font-family: century gothic;
  font-size: 10px;
  align-items: center;
}

.zodiac
{
  position: absolute;
  top:40.5vh;
  left:17vw;
}

.cooke
{
  position: absolute;
  top:80vh;
  left:71.7vw;
}

@media screen and (max-width: 1280px) {
    .cooke {
          left:900px;
    }
}

@media screen and (max-width: 1180px) {
    .cooke {
          left:800px;
    }
}

@media screen and (max-width: 1080px) {
    .cooke {
          left:700px;
    }
}

.yang
{
  position: absolute;
  top:45.5vh;
  left:79.5vw;
}

.wuornos
{
  position: absolute;
  top:48vh;
  left:27.5vw;
}

.haarmann
{
  position: absolute;
  top:35.4vh;
  left:43.5vw;
}

.jack
{
  position: absolute;
  top:34vh;
  left:41vw;
}

.lucas
{
  position: absolute;
  top:47vh;
  left:14.7vw;
}


.chikatilo
{
  position: absolute;
  top:31vh;
  left:58vw;
}

.gaskins
{
  position: absolute;
  top:44.5vh;
  left:28vw;
}

.dahmer
{
  position: absolute;
  top:38vh;
  left:26vw;
}

.peter
{

}
