* {
  box-sizing: border-box;
}


/*blood label and name of killers*/

.dotimage
{
  max-width: 15px;
  z-index: 2;
}

.reddot
{ display: flex;
  align-items: center;
  align-content: center;
  font-family: Oswald, sans-serif;
  font-size: 10px;
  color:rgb(251, 0, 16);
}


/* Map start */

.map
{
  width: 100px;
  height:100px;
  position: fixed;
  top:8%;
  left:8%;
}

.mapclass
{
  width: 1200px;
  height: 700px;
}

/*Map end*/



/*killers of USA*/

.zodiac
{
  position: relative;
  top:-420px;
  left:165px;
  display: none;
}

.dahmer
{
  position: relative;
  top:-390px;
  left:200px;
  display: none;
}

.gaskins
{
  position: relative;
  top:-400px;
  left:300px;
  display: none;
}

.wuornos
{
  position: relative;
  top:-370px;
  left:290px;
  display: none;
}

.lucas
{
  position: relative;
  top:-390px;
  left:120px;
  display: none;
}

/*Euro killers*/

.jack
{
  display: none;
  position: relative;
  top:-470px;
  left:495px;
}

.haarmann
{
  position: relative;
  top:-460px;
  left:596px;
  display: none;
}

/*Russia killer*/

.chikatilo
{
  position: relative;
  top:-490px;
  left:696px;
  display: none;
}


/*China killer*/

.yang
{
  position: relative;
  top:-380px;
  left:930px;
  display: none;
}

/*Aussie killer*/
.cooke
{
  position: relative;
  top:-160px;
  left:960px;
  display: none;
}

/*Japan killer*/

.miyazaki
{
  position: relative;
  top:-410px;
  left:1030px;
  display: none;
}

/*Brizil killer*/

.filho
{
  position: relative;
  top:-200px;
  left:390px;
  display: none;
}



















/*End*/
