* {
  box-sizing: border-box;
}


/*blood label and name of killers*/

.dotimage
{
  max-width: 15px;
  z-index: 2;
}

.reddot
{ display: flex;
  align-items: center;
  align-content: center;
  font-family: century gothic;
  font-size: 10px;
  font-weight: bold;
  align-items: center;
  color: red;
}


/* Map start */

.map
{
  width: 100px;
  height:100px;
  position: absolute;
  top:8%;
  left:8%;
}

.mapclass
{
  width: 1200px;
  height: 700px;
}

/*Map end*/



/*killers of USA*/

.zodiac
{
  position: relative;
  top:-420px;
  left:165px;
}

.dahmer
{
  position: relative;
  top:-470px;
  left:240px;
}

.gaskins
{
  position: relative;
  top:-480px;
  left:290px;
}

.wuornos
{
  position: relative;
  top:-485px;
  left:293px;
}

.lucas
{
  position: relative;
  top:-530px;
  left:150px;
}

/*Euro killers*/

.jack
{
  position: relative;
  top:-640px;
  left:475px;
}

.haarmann
{
  position: relative;
  top:-665px;
  left:596px;
}

/*russia killers*/

.chikatilo
{
  position: relative;
  top:-720px;
  left:696px;
}


/*china killers*/

.yang
{
  position: relative;
  top:-660px;
  left:930px;
}

/*aussie killers*/
.cooke
{
  position: relative;
  top:-470px;
  left:960px;
}

.miyazaki
{
  position: relative;
  top:-760px;
  left:1030px;
}

.filho
{
  position: relative;
  top:-570px;
  left:390px;
}

















/*End*/
