/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */




body.h12 .zodiac{
display: block;
}

body.h1 .gaskins{
display: block;
}

body.h2 .cooke{
display: block;
}

body.h3 .miyazaki{
display: block;
}

body.h4 .filho{
display: block;
}

body.h5 .jack{
display:block;
}

body.h6 .haarmann{
display: block;
}

body.h7 .chikatilo{
display: block;
}

body.h8 .dahmer{
display: block;
}

body.h9 .yang{
display: block;
}

body.h10 .wuornos{
display: block;
}

body.h11 .lucas{
display: block;
}







/*Time css end*/
